<% if current_page?('/') %>
  <section id="big_images_banner">
    <div class="ribbon bigpicture">
    <%= image_tag("openqt.png", :border=>0, :class=>"banner openqt") %>
      <p class="banner caption1">The Carribean's most sophisticated</p>
      <p class="banner caption2">and sought-after convention facilities</p>
    <%= image_tag("closeqt.png", :border=>0,  :class=>"banner closeqt") %>
    <%= image_tag("Banner1.jpg", :border=>0,  :class=>"banner left") %>
    <%= image_tag("Banner3.jpg", :border=>0,  :class=>"banner topright") %>
    <%= image_tag("Banner2.jpg", :border=>0,  :class=>"banner bottomright") %>
    </div>
  </section>
<% else %>
  <section id="banner_centre">
    <div class="ribbon banner">
        <% @page.images.each do |i| -%>
          <%= image_tag i.thumbnail("1095x200").url -%>
        <% end -%>
    </div>
  </section>  
<% end %>