<div class="ribbon top"></div>

<div class="inner">
	<%= link_to image_tag("mbcclogo.png", :border=>0), root_path %>
	<%= link_to image_tag("px.png", :border=>0,  :class=>"hangribbons planners"), root_path %>
	<%= link_to image_tag("px.png", :border=>0,  :class=>"hangribbons exibitors"), root_path %>
	<%= link_to image_tag("px.png", :border=>0,  :class=>"hangribbons attendees"), root_path %>
	<%= render(:partial => "/shared/menu", :locals => {
	         :dom_id => 'menu',
	         :css => 'menu'
	       }) %>
</div>

<%= render :partial => '/shared/banner' -%>